extends layout

block content
  .row.page-header
    .col-lg-12
      h1 Starcups
  .row
    .col-xs-12.col-sm-6
      p.rating
        span.glyphicon.glyphicon-star
        span.glyphicon.glyphicon-star
        span.glyphicon.glyphicon-star
        span.glyphicon.glyphicon-star-empty
        span.glyphicon.glyphicon-star-empty
        p 125 Hight Street, Reading, RG6 1Ps
        .panel.panel-primary
          .panel-heading
            h2.panel-title Opening hours
          .panel-body
            p Monday - Friday : 7:00 am - 7:00 pm    
            p Saturday        : 8:00 am - 5:00 pm
            p Sunday          : Closed.
        .panel.panel-primary
          .panel-heading
            h2.panel-title Facilities
          .panel-body
            span.label.label-warning
              span.glyphicon.glyphicon-ok  &nbsp;Hot drinks&nbsp;
              &nbsp;
            span.label.label-warning
              span.glyphicon.glyphicon-ok  &nbsp;Food&nbsp;
              &nbsp;
            span.label.label-warning
              span.glyphicon.glyphicon-ok &nbsp;Premiun Wifi&nbsp;
              &nbsp;
    .col-xs-12.col-sm-6.location-map
      .panel.panel-primary
        .panel-heading
          h2.panel-title Location map
        .panel-body
          img.img-responsive.img-rounded(src="http://maps.googleapis.com/maps/api/staticmap?center=51.455041,-0.9690884,&zoom=17&size=400x350&sensor=false&markers=51.455041,-0.9690884&scale=2")
  .row
    .col-xs-12
      .panel.panel-primary.review-panel
        .panel-heading
          a.btn.btn-default.pull-right(href='/location/review/new') Add review
          h2.panel-title Customer reviews
        .panel.panel-body.review-container
          .row
            .review
              .well.well-sm.review-header
                span.rating
                  span.glyphicon.glyphicon-star
                  span.glyphicon.glyphicon-star
                  span.glyphicon.glyphicon-star
                  span.glyphicon.glyphicon-star
                  span.glyphicon.glyphicon-star
                span.reviewAuthor Emmanuelle Silva
                small.reviewTimestamp 16 July 2013
              .col.xs-12
                p What a great place. I can´t say enought good things about it...
          .row
            .review
              .well.well-sm.review-header
                span.rating
                  span.glyphicon.glyphicon-star
                  span.glyphicon.glyphicon-star-empty
                  span.glyphicon.glyphicon-star-empty
                  span.glyphicon.glyphicon-star-empty
                  span.glyphicon.glyphicon-star-empty
                span.reviewAuthor Joaquim Ramos
                small.reviewTimestamp 05 May 2016
              .col.xs-12
                p Não gostei... dei uma estrela só pra não ficar zerado. Café horrível e velocidade "internet modem discado...."            
  .col-lg-12
    p.lead.text-center Simon´s cafe is on loc8r bacause is has accessible wifi and space to sit down with your laptop and get some work done.
    p.text-center If you´ve been and you like it - or if you don´t - please leave a review to help other people just like you.            
        